<h1>
    <%= @team.name %><br>
    <%= @team.motto %>
</h1>

<% Superhero.all.each do |hero| %>
    <h1><%= hero.name %></h1>
    <h3><%= hero.power %></h3>
    <h3><%= hero.bio %></h3>
    <% end %>
